Repository luismayta/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylint, dockerfile-provides-entrypoint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: docs|.serverless|.serveless_nextjs|node_modules|migrations|.git|.tox|.gen
  stylint: any of: \.(less)$, but not: docs|.serverless|.serveless_nextjs|node_modules|migrations|.git|.tox|.gen
  dockerfile-provides-entrypoint: any of: Dockerfile(.*), but not: docs|.serverless|.serveless_nextjs|node_modules|migrations|.git|.tox|.gen

refactor: actions for make (#239)
  Makefile
  provision/make/docker.mk
  provision/make/keybase.mk
  provision/make/python.mk
  provision/make/yarn.mk
Due: none

refactor: maintainer for dockerfile (#239)
  provision/docker/check/Dockerfile
  provision/docker/docs/Dockerfile
Due: dockerfile-provides-entrypoint

docs: implement info for project (#239)
  docs/source/AUTHORS.rst
  docs/source/SUPPORT.rst
Due: none

refactor: change settings for project (#239)
  .editorconfig
  .eslintrc.js
  .tmuxinator.yml
Due: eslint

chore: implement refactor package for node (#239)
  package.json
  prettier.config.js
Due: eslint

style: format code (#239)
  .eslintrc.js
Due: eslint

refactor: change name functions for bash (#239)
  provision/script/functions.sh
Due: none

refactor: hooks shell lint and docker (#239)
  .pre-commit-config.yaml
Due: none

refactor: settings load zsh mod vim and aliases (#241)
  zsh/mod/aliases.zsh
  zsh/mod/vim.zsh
  zsh/zshenv
  zsh/zshrc
Due: none

chore: delete files not used (#243)
  conf/app/git_commit_msg.txt
  conf/app/gitconfig
  conf/app/gitignore
  conf/shell/profile
Due: none

feat: change version of node (#243)
  conf/app/nvmrc
Due: none

feat: clean files not load for zsh (#248)
  zsh/zshrc
Due: none

chore: clean unnecesary package zsh-async (#251)
  README.rst
  zsh/zshrc
Due: none

style: clean format lintstaged (#251)
  .lintstagedrc.js
Due: eslint

refactor: settings pre-commit (#251)
  .pre-commit-config.yaml
Due: none

refactor: delete package unneccesary zsh (#251)
  zsh/zshrc
Due: none

chore: implement zsh login after install (#251)
  install.sh
Due: none

docs: implement name package zsh (#253)
  bin/message_error
  bin/message_info
  bin/message_success
  bin/message_warning
Due: none

feat: change cask to --cask for brew (#258)
  tools/brew/install.sh
Due: none

build: delete files unnecessary
  bootstrap.sh
Due: none
