Repository luismayta/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: [--ignore-words=.codespell-ignores]
        exclude: >
          (?x)^(
            .+\.vendor\/.*$|
            .+\.node_modules\/.*$|
            .+\.lock$|
          )$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: detect-private-key
        files: ^(?!\.?git-crypt)
        exclude: >
          (?x)^(
            .+\.gitleaks.toml$|
          )$
      - id: check-merge-conflict
      - id: check-added-large-files
        files: ^tf|-|\.(py|env|yml|yaml)$
      - id: check-case-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: check-byte-order-marker
      - id: check-ast
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer
      - id: check-symlinks
      - id: file-contents-sorter
      - id: fix-encoding-pragma
      - id: sort-simple-yaml
  - repo: https://github.com/hadenlabs/pre-commit-hooks
    rev: 2bed7c6ec4930b235aaf54aff1cf34e3df694f37
    hooks:
      - id: do-not-commit
      - id: markdown-link-check
        args:
          - --config=.github/linters/markdown-link-config.json
        exclude: \.tpl.md$
      - id: shellcheck
        exclude: >
          (?x)^(
            .+\.provision/git/hooks/prepare-commit-msg$|
            .+\.tpl.sh$|
          )$
        args:
          - --exclude=SC1071,SC1073,SC2068
      - id: validate-toml
      - id: todocheck
      - id: gitleaks
        args:
          - --path=.
          - --repo-config-path=.github/linters/.gitleaks.toml
          - --verbose

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: ./node_modules/prettier/bin-prettier.js
        args:
          - '--write=true'
          - '--config=.github/linters/prettier.config.js'
          - '--ignore-path=.github/linters/.prettierignore'
        files: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$
        exclude: node_modules
      - id: eslint
        name: eslint
        language: node
        entry: node_modules/eslint/bin/eslint.js
        args:
          - '--fix'
          - '--color'
          - '--config=.github/linters/.eslintrc.js'
          - '--ignore-path=.github/linters/.eslintignore'
        files: \.(js|jsx|ts|tsx|mjs|d.ts)$
        exclude: node_modules

refactor: lint validation code (#294)
  .codespell-ignores
  .editorconfig
  .gitattributes
  .github/linters/.gitleaks.toml
  .github/linters/.lintstagedrc.js
  .github/linters/.prettierignore
  .github/linters/markdown-link-config.json
  .nvmrc
  .pre-commit-config.yaml
  .todocheck.yaml
  package.json
Due: prettier, eslint

fix: work flow github (#294)
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: prettier

refactor: modules zsh (#294)
  zsh/zshrc
Due: none

fix: links pull requests (#294)
  docs/contributing.md
  provision/templates/README.tpl.md
Due: prettier

build: generate files (#294)
  .gitignore
  yarn.lock
Due: none

refactor: actions make (#294)
  Makefile
  provision/make/docker.mk
  provision/make/git.mk
  provision/make/utils.mk
Due: none

chore: implement actions for vagrant and ruby (#301)
  Makefile
  provision/make/ruby.mk
  provision/make/vagrant.mk
Due: none

chore: implement configuration vagrant (#301)
  Vagrantfile
  provision/vagrant/os.rb
  provision/vagrant/servers/dev.yaml
Due: prettier

chore: implement dependences ruby (#301)
  Gemfile
Due: none

style: implement format ruby (#301)
  .editorconfig
Due: none

build: files generate (#301)
  .gitignore
  Gemfile.lock
Due: none

fix: missing file archlinux (#301)
  provision/script/functions.sh
Due: none

docs: implement run information (#301)
  Makefile
Due: none
